<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atos Pedro</title>

    <link rel="icon" href="" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Trispace:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <header>
      <span>
        <p>Atos Pedro</p>
      </span>

      <ul>
        <li>
          <a href="">Resume</a>
        </li>
        <li>
          <a href="">Sobre</a>
        </li>
        <li>
          <a href="">Habilidades</a>
        </li>
        <li>
          <a href="">Contato</a>
        </li>
      </ul>

    </header>

    <section id="resume">
      <h1>Resume</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lorem metus,
        finibus eget velit vel, interdum fringilla ipsum. Maecenas consequat
        erat malesuada imperdiet accumsan. Class aptent taciti sociosqu ad
        litora torquent per conubia nostra, per inceptos himenaeos. Donec
        auctor, erat id aliquam sollicitudin, orci nisl commodo nibh, id
        facilisis neque orci sit amet massa. Quisque viverra elementum turpis
        laoreet maximus. Fusce rutrum nunc nibh, at suscipit odio rhoncus id.
        Aenean nec lacus sit amet felis venenatis malesuada. Aliquam at ligula
        elementum, dignissim enim nec, pharetra felis.
      </p>
    </section>

    <section id="About">
      <h2>Sobre mim</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lorem metus,
        finibus eget velit vel, interdum fringilla ipsum. Maecenas consequat
        erat malesuada imperdiet accumsan. Class aptent taciti sociosqu ad
        litora torquent per conubia nostra, per inceptos himenaeos. Donec
        auctor, erat id aliquam sollicitudin, orci nisl commodo nibh, id
        facilisis neque orci sit amet massa. Quisque viverra elementum turpis
        laoreet maximus. Fusce rutrum nunc nibh, at suscipit odio rhoncus id.
        Aenean nec lacus sit amet felis venenatis malesuada. Aliquam at ligula
        elementum, dignissim enim nec, pharetra felis.
      </p>
      <div id="skills">
        <h2>Habilidades</h2>

        <div class="languages">
          <h3>Linguagens</h3>
          <img src="" alt="" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lorem
            metus, finibus eget velit vel, interdum fringilla ipsum. Maecenas
            consequat erat malesuada imperdiet accumsan. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos
            himenaeos. Donec auctor, erat id aliquam sollicitudin, orci nisl
            commodo nibh, id facilisis neque orci sit amet massa. Quisque
            viverra elementum turpis laoreet maximus. Fusce rutrum nunc nibh, at
            suscipit odio rhoncus id. Aenean nec lacus sit amet felis venenatis
            malesuada. Aliquam at ligula elementum, dignissim enim nec, pharetra
            felis.
          </p>
        </div>
        <div class="technologies">
          <h3>Tecnologias</h3>
          <img src="" alt="" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lorem
            metus, finibus eget velit vel, interdum fringilla ipsum. Maecenas
            consequat erat malesuada imperdiet accumsan. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos
            himenaeos. Donec auctor, erat id aliquam sollicitudin, orci nisl
            commodo nibh, id facilisis neque orci sit amet massa. Quisque
            viverra elementum turpis laoreet maximus. Fusce rutrum nunc nibh, at
            suscipit odio rhoncus id. Aenean nec lacus sit amet felis venenatis
            malesuada. Aliquam at ligula elementum, dignissim enim nec, pharetra
            felis.
          </p>
        </div>
        <div class="softskills">
          <h3>Softskills</h3>
          <img src="" alt="" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lorem
            metus, finibus eget velit vel, interdum fringilla ipsum. Maecenas
            consequat erat malesuada imperdiet accumsan. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos
            himenaeos. Donec auctor, erat id aliquam sollicitudin, orci nisl
            commodo nibh, id facilisis neque orci sit amet massa. Quisque
            viverra elementum turpis laoreet maximus. Fusce rutrum nunc nibh, at
            suscipit odio rhoncus id. Aenean nec lacus sit amet felis venenatis
            malesuada. Aliquam at ligula elementum, dignissim enim nec, pharetra
            felis.
          </p>
        </div>
      </div>
    </section>

    <section id="contact">
      <div>
        <h3>E-mail</h3>
        <img src="" alt="" />
        <p>
          <a href="mailto:atospedrocontato@gmail.com"
            >atospedrocontato@gmail.com</a
          >
        </p>
      </div>

      <div>
        <h3>Phone</h3>
        <img src="" alt="" />
        <p><a href="phoneto:31995675122">(31)995675122</a></p>
      </div>
    </section>
  </body>
</html>
