<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atos Pedro</title>
  </head>
  <body>
    <header></header>
    <section id="resume">
      <h1></h1>
      <p></p>
    </section>
    <section id="About">
      <h2>Sobre mim</h2>
      <p></p>
      <div id="skills">
        <h2>Habilidades</h2>

        <div class="languages">
            <h3>Linguagens</h3>
          <img src="" alt="" />
          <p></p>
        </div>
        <div class="technologies">
            <h3>Tecnologias</h3>
          <img src="" alt="" />
          <p></p>
        </div>
        <div class="softskills">
            <h3>Softskills</h3>
          <img src="" alt="" />
          <p></p>
        </div>
      </div>
    </section>
    <section id="contact">
      <div>
        <h3>E-mail</h3>
        <img src="" alt="" />
        <p></p>
      </div>

      <div>
        <h3>Phone</h3>
        <img src="" alt="" />
        <p></p>
      </div>
    </section>
  </body>
</html>
