footer{
    display: flex;
    flex-direction: column;
    
    align-items: center;

    color: white;

    background-color: #22273a;

    margin-top: 1rem;

}

footer a{
    text-decoration: none;
    color: white;

}
.site-buttom{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 1rem;
}
.site-buttom a{

    background-color: #161925;

    margin: .5rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
}
.artists{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer p{
    text-transform: uppercase;
    text-align: center;
}

footer ul{
    list-style: none;
}
footer ul li{
    margin: 1rem;
    text-align: center;
}
footer ul li a{
    display:block;

    padding: 1rem;
    
    
    background-color: #161925;
    border: none;
    border-radius: 5px;
    
}