/*Header*/
header{
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;  
    background-color:#161925;  
}
header span h1{
    margin: 2rem 0 1rem 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color:#fdfffc;
}
header ul{
    display: flex;
    flex-direction: column;
    list-style: none;

}
header ul li a{
    
    text-decoration: none;
    text-transform: uppercase;
    
    padding: 2.5rem 100vw;


    color:#fdfffc;
    
}
header ul li{
    
    text-align: center;
    background-color: #22273a;
    margin: .1rem;
    padding: 2.5rem 100vw;
}
