*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color:  #161925;
    color: #161925;
}

h1,h2,h3{
    font-family: 'Trispace', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
    
}

a{
    font-family: 'Roboto', sans-serif;
    
}
