*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fdfffc;
    color: black;
}

h1,h2,h3{
    font-family: 'Trispace', sans-serif;
}

p{
    font-family: 'Roboto', sans-serif;
}

/*Header*/
header{
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

}

header ul li{
    list-style: none;


}
header ul li a{

    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    
    
}
/*Resume*/
/*About*/
/*Skills*/
/*Contact*/