@media screen and (min-width: 1024px) {
    header {
        display:flex;
        flex-direction: row; 
        justify-content: space-between;  
          
    }
    header nav {
        width: auto;
    }
    header nav ul{
        flex-direction: row;
        margin: 0 20px 0 ;
    }
    header span{
        margin: 0 0 0 20px;
    }
    header nav ul li{
        padding: 10px;
        border:none;
        border-radius:5px;
        background-color: #161925;
        transition: 200ms;
    }
    header nav ul li:hover{
        background-color: #22273a;
    }
    header nav ul li a{
    
        text-decoration: none;
        text-transform: uppercase;
        
        padding: 10px;
    
    
        color:  white;
        
    }


    #skills {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    #skills div{
        max-width: 25rem;

    }
    h2{
        text-align: center;
        margin: 2rem;
    }

    #contact{
        background-color: #161925;

        display: flex;
        justify-content: space-evenly;

        margin:2rem;
    }
    #contact a{
        width: 20rem;

    }
    #contact div{
        transition: 200ms;
    }
    #contact div:hover{
        box-shadow: 8px 8px #22273a;
    }
    footer{
        flex-direction: column;
        justify-content: space-between;
        padding: 50px;
    }
    .site-buttom{
        flex-direction: row;
        width: 100%;
    }
    .site-buttom a:hover{
        box-shadow: 2px 2px  #161925;
    }
    
    .artists{
        flex-direction: row;
        align-items: center; 
        justify-content: space-between;     
    }
    .artists ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .artists ul li{
        width: 10rem;

    }

    .artists ul li a{
                       
        transition: 200ms;
        
        
    }
    footer ul li a:hover{
        box-shadow: 2px 2px  #161925;
    }
}
